body {
    font-size: normal;
    font-family: Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 1024px;
    padding: 1em 0;
    background-color:aqua;
    color:#111111;
    align-content: center;
}
